@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marlon Alexis Diaz<br />
    Diego Gaona<br />
    <abbr title="Telefono">P:</abbr>
    3506621310
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">malexisdiaz@sanmateo.edu.co</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>